.contenedor {
  border: 5px solid #e1bee7;
  background-color: #fff1ff;
  display: grid;
  /* grid-template-columns: 1fr 3fr 1fr 2fr; */
  /* Auto-fill llena el 100% de grilla */
  grid-template-columns: repeat(auto-fit, minmax(100px,1fr));
}
.contenedor-2{
  border: 5px solid #e1bee7;
  background-color: #fff1ff;
  display: grid;
  /* grid-template-columns: 1fr 3fr 1fr 2fr; */
  /* Auto-fill */
  margin-top: 50px;
  grid-template-columns: repeat(auto-fill, minmax(100px,1fr));
}

.item {
  border: 5px solid #00bcd4;
  font-size: 2rem;
}