* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Variables */
  --main-color: #fef6f6;
  --card-color: #eec1de;
  --information-color: #ffffff;
  --name-color: #6a515e;
  --hour-color: #d7bdca;
  --curve-radius: 40;
}

img {
  width: 50px;
}

body {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 62.5%; /* 10px */
}

.main {
  width: 100vw;
  height: 100vh;
  background-color: var(--main-color);
  display: grid;
  place-items: center;
}

.card {
  width: 388px;
  height: 398px;
  background-color: var(--card-color);
  border-style: none;
  border-radius: calc(var(--curve-radius) * 1px);
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.card:hover .card__information {
  transition: all 0.8s ease-in-out;
  transform: translateY(-85px);
}

.card__image {
  width: 100%;
  height: 100%;
  background-image: url("../assets/bear-image.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.card__information {
  width: 100%;
  height: 170px;
  background-color: var(--information-color);
  position: absolute;
  bottom: -85px;
  border-radius: calc(var(--curve-radius) * 1px) 0 0 0;
  transition: all 0.8s ease-in-out;
}

.card__border {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 100%;
  right: 0;
}

.card__border path {
  fill: var(--information-color);
  d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
}

.information__intro {
  width: 100%;
  height: 50%;
  border-radius: calc(var(--curve-radius) * 1px) 0 0 0;
  overflow: hidden;
  display: flex;
}

.information__img {
  flex-grow: 1;
  display: grid;
  place-items: center;
}
.information__img img {
  flex-shrink: 0;
  border-radius: 50%;
  background: var(--hour-color);
  width: 50px;
}
.information__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 2;
}

.information__statistics {
  width: 100%;
  height: 50%;
  background-color: var(--information-color);
}

.information__content h3 {
  font-size: 1rem;
  margin: 0 0.3rem;
  color: var(--name-color);
}

.information__content p {
  font-size: 0.8rem;
  margin: 0 0.3rem;
  color: var(--hour-color);
}

.information__card {
  font-size: 0.8rem;
  padding: 0 2em 2em;
  margin: 0;
  color: #d7bdca;
}
